body {
  background-color: #1f2d40;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
}

.home {
  display: flex;
}

.search-bar {
  height: 10vh;
  background-color: #0e1823;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar input {
  width: 80%;
  height: 2rem;
}

.menu {
  background-color: #0e1823;
  height: 100vh;
  width: 30vw;
}

.menu h1 {
  display: inline-block;
  background: url("../img/logo-tc.png") no-repeat;
  width: 80px;
  height: 80px;
  text-indent: -999em;
}

.car-info {
  display: flex;
  justify-content: space-between;
}

.banner {
  /* background-color: red; */
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
  background: url("../img/car-wireframe.png") no-repeat;
  background-color: #1f2d40;
  background-blend-mode: multiply;
  height: 80vh;
  width: 70vw;
}

.list {
  height: 80vh;
  width: 70vw;
  overflow: scroll;
}
